@media only screen and (max-width: 600px){
.container{
    background-color: rgba(0, 0, 0, 0.5); 
    text-shadow: 0px black;
}
}

.hero{
    background-image: url('https://www.gregbottle.com/uploads/1/1/2/7/112717723/stag-at-dusk_orig.jpg');
    background-position: center;
    background-size: cover;
}
.container{
    text-align: center;
    margin-top: -35%;
    text-shadow: 2px 2px 2px black;
}
.breadcrumb{
    padding: 10px;
}
a{
    color: ghostwhite !important;
}
a:hover{
    text-decoration: overline !important;
}


