@media only screen and (max-width: 600px){
.container{
    background-color: rgba(0, 0, 0, 0.5); 
    text-shadow: 0px black;
    position: fixed;
    top: 0px !important;

}
#bio, #projects, #resume{
    margin-top: 75% !important;
    height: 100px !important;
    width: 300px !important;
    margin-left: 30px !important;
    margin-bottom: 10% !important;
}

p{
    font-size: 10px;
}
h1{
    font-size: 15px;
}
h2{
    font-size: 12px;
}
}

.hero{
    background-image: url('https://i.imgur.com/fHTE0OA.jpg');
    background-position: center;
    background-size: cover;
}
.container{
    position: fixed;
    top: 5%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.title{
    margin-top: 10px;
}
.subtitle{
    width: 50%;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
#bio, #projects, #resume{
    width: 50%;
    height: 450px;
    top: 18%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 40px;
    overflow-y: scroll;
    min-height: 200px;
}

.breadcrumb{
    padding: 10px;
}
a{
    color: ghostwhite !important;
}
a:hover{
    text-decoration: black line-through!important;
}
.link{
    font-size: 22px;
}
p{
    font-size: 20px;
}
h1{
    font-size: 30px;
    text-align: center;
}

